footer {
    display: flex;
    justify-content: space-around;
    font: 1rem 'Poppins', serif;
    align-items: center;
    background-color: #891c01da;
}
footer p {
    margin-top: 0.5em;
    font-weight: bold;
}
.links {
    display: flex;
}
.links div{
    margin: 1em;
    padding: 1em;
}
.links a {
    text-decoration: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
}
.links a:hover {
    color: rgba(0, 0, 0, 0.6)
}
.contactus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contactus>div {
    margin: 1em;
    padding: 1em;
}
.contact{
    display: flex;
    flex-direction: column;
}
.contact a{
    display: flex;
    padding: 0.5em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    transition: all 200ms ease-in-out;
}
.contact a:hover {
    color: rgba(0, 0, 0, 0.6)
}
.contact img{
    width: 1.5rem;
    margin: 0.2rem;
}
.social img {
    padding: 0.5em;
    width: 3rem;
}