footer {
    display: flex;
    justify-content: space-evenly;
    font: 1rem 'Poppins', serif;
    align-items: baseline;
    background-color: #891c01da;
}
@media (max-width: 1024px){
    footer {
        flex-direction: column;
        align-items: center;
    }
}

footer>div {
    display: flex;
}

footer a {
    padding: 0.3em;
    text-decoration: none;
    color: #111;
}

.navigation>div {
    margin: 0 1em;
}

.links, .contact-us>div{
    margin: 1em;
    padding: 0.5em;
}
@media (max-width: 480px){
    .links, .contact-us>div{
        margin: 0.5em;
        padding: 0.3em;
    }
}

.contact-us {
    align-items: center;
    justify-content: space-around;
}

.contact-details{
    display: flex;
    flex-direction: column;
}
.contact-details a{
    display: flex;
    align-items: center;
    width: max-content;
}
.contact-details img{
    width: 1.5rem;
    margin: 0.2rem;
}

.social-media img {
    padding: 0.5em;
    width: 3rem;
}