footer {
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
    font: 1rem 'Poppins', serif;
    align-items: baseline;
    background-color: #f33100da;
    border-top: 1px solid black;
}
@media (max-width: 1024px){
    footer {
        flex-direction: column;
        align-items: center;
    }
}


footer>div {
    display: flex;
}

footer a {
    padding: 0.3em;
    text-decoration: none;
    color: rgb(1,1,1);
}

.navigation>div {
    margin: 0 1em;
}

.links>a {
    color: rgb(80, 33, 33)
}
.links, .contact-us>div{
    margin: 1em;
    padding: 0.5em;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 480px){
    .links, .contact-us>div{
        margin: 0.5em;
        padding: 0.3em;
    }

    .contact-us {
        flex-direction: column;
    }
}

.contact-details{
    display: flex;
    flex-direction: column;
}
.contact-details>h3 {
    text-align: center;
}
.contact-details a{
    display: flex;
    align-items: center;
    width: max-content;
}
.contact-details img{
    width: 1.5rem;
    margin: 0.2rem;
}

.social-media img {
    padding: 0.5em;
    width: 3rem;
}


.credits {
    padding: 1em;
    display: block;
    font: 0.8rem 'Poppins', sans-serif;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #f33100da;
}