@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&family=Italianno&family=Poppins&family=Great+Vibes&display=swap');


@media (max-width: 1024px){
    html {
        font-size: 15px;
    }
}
@media (max-width: 768px){
    html {
        font-size: 14px;
    }
}
@media (max-width: 667px){
    html {
        font-size: 13px;
    }
}
@media (max-width: 360px){
    html {
        font-size: 12px;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', serif;
}


header {
    background: center / cover no-repeat url(../img/background.jpg);
    box-shadow: inset 0 0 15px black;
    padding: 5em 0;
}

.header-content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #0300FA;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.75) 50%, rgba(255, 255, 255, 0.3) 100%);
}

.title {
    margin: 0.3em 0;
    font: 3rem 'Italianno', cursive;
}
.tagline {
    padding: 1em;
    font-size: 1.2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.container {
    background: linear-gradient(rgb(255, 255, 88), #ffbb00);
    padding: 1px;
}

.content {
    margin: 2em 0;
    padding: 1px;
}

.subheading {
    font: 3rem 'Great Vibes', cursive;
    text-align: center;
    margin: 1em;
    padding: 0.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background: #f7ffcb;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 1em 0.7em;
    height: min-content;
    width: 23%;
    min-width: 150px;
    max-width: 300px;
    border-radius: 15px;
    font: 1.6rem 'Viaoda Libre', cursive;
    text-align: center;
    transition: all 200ms ease-in-out;
}
.card>img {
    width: 100%;
    margin: 0.5em 0;
    border-radius: 5px;
}
.card:hover {
    width: 25%;
    height: max-content;
    font-size: 1.7rem;
}
@media (max-width: 667px) {
    .card {
        width: 45%;
    }
    .card:hover {
        width: 46%;
    }
}

.buttons {
    margin: 0.5em auto;
    padding: 0.5em;
    width: 100%;
    max-width: 225px;
    text-decoration: none;
    font: 1rem 'Poppins', serif;
    color: white;
    background-color: #1d298d;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}
.buttons:hover {
    background-color: #003dd8;
}

#contactBtn {
    box-shadow: 4px 4px 25px #6d6affc4;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1.4em 1em;
    padding: 0.6em;
    background-color: #0300FA;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
    animation: 2s pulse infinite;
}
#contactBtn>img {
    margin: 0.2em 0.3em 0 0.3em;
    width: 2rem;
}
#contactBtn:hover {
    background-color: #413dff;
    cursor: pointer;
}
@keyframes pulse{
    from{padding: 0.6em;}
    50%{padding: 0.7em;}
    to{padding: 0.6em;}
}
@media (max-width: 400px) {
    #contactBtn {
        font-size: 0.9rem;
    }
}
@media (max-width: 325px) {
    #contactBtn {
        font-size: 0.8rem;
    }
}

#contactContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

#contactPopup {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    height: min-content;
    width: max-content;
    font: 1.5rem 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10em black;
}
#contactPopup>span {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
#contactPopup>span>img{
    padding: 0.5em;
    width: 2.1em;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
#contactPopup>span>img:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
#contactPopup>p {
    padding: 1.5rem;
}
#contactPopup>a {
    margin: 0 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
#contactPopup img {
    margin: 0.2rem;
    width: 1.5rem;
}

#contactHeading {
    padding: 0 1em;
    font: 2rem 'Viaoda Libre', cursive;
    text-align: center;
    border-bottom: 1px solid black;
}

.aboutus {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
    padding: 1em 10vw;
    background: rgba(255, 255, 255, 0.4);
}

